<a href="https://colab.research.google.com/github/QaziSaim/Python-Assignment/blob/main/5th_November_23_For_Loop_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> <b>Assignment No 3 <h2>

**Basic Level:**
1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.
2. Create a program that calculates the sum of all numbers in a list using a `for` loop.
3. Write a program to print the characters of a string in reverse order using a `for` loop.
4. Develop a program that finds the factorial of a given number using a `for` loop.
5. Create a program to print the multiplication table of a given number using a `for` loop.
6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.
7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.
8. Create a program to find the length of a string without using the `len()` function.
9. Write a program that calculates the average of a list of numbers using a `for` loop.
10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [26]:
# Question No 1 : Print 10 number
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
# Question No 2 : Sum of number in list
mark=[65,55,87,88.59]
total=0
for i in mark:
  total += i
print(f'The total mark obtained to student total = {int(total)}')

The total mark obtained to student total = 295

In [28]:
# Question No 3 : Reverse string
name = "PW SKILLS"
for char in reversed(name):
  print(char)

S
L
L
I
K
S

W
P

In [29]:
# Question No 4 : factoria number
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, "is", factorial)

Factorial of 5 is 120

In [30]:
# Question No 5 : multiplication table
num = 7
for i in range(1, 11):
    product = num * i
    print(f"{num} x {i} = {product}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [31]:
# Question No 6 : count even or odd
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = 0
odd_count = 0

for number in numbers:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 4
Odd numbers: 5

In [32]:
# Question No 7 :
for i in range(1, 6):
    square = i ** 2
    print(f"{i} squared is {square}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [33]:
# Question No 8 :
my_string = "Hello, World!"
count = 0
for char in my_string:
    count += 1
print("Length of the string:", count)

Length of the string: 13

In [34]:
# Question No 9 :
numbers = [10, 20, 30, 40, 50]
total = 0
count = 0

for number in numbers:
    total += number
    count += 1

average = total / count
print("Average:", average)

Average: 30.0

In [35]:
# Question No 10 :
n = 10
a, b = 0, 1

for _ in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

**Intermediate** Level:
11. Write a program to check if a given list contains any duplicates using a `for` loop.
12. Create a program that prints the prime numbers in a given range using a `for` loop.
13. Develop a program that counts the number of vowels in a string using a `for` loop.
14. Write a program to find the maximum element in a 2D list using a nested `for` loop.
15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.
16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.
17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.
18. Create a program to print the common elements from two lists using a `for` loop.
19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern
20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [36]:
# Question No 11 :
my_list = [1, 2, 3, 4, 2, 5]
has_duplicates = False

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):
        if my_list[i] == my_list[j]:
            has_duplicates = True
            break

if has_duplicates:
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [37]:
# Question No 12 :
start = 10
end = 50

for num in range(start, end + 1):
    if num > 1:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

11
13
17
19
23
29
31
37
41
43
47

In [38]:
# Question No 13 :
my_string = "Hello, World!"
vowels = "AEIOUaeiou"
vowel_count = 0

for char in my_string:
    if char in vowels:
        vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 3

In [39]:
# Question No 14 :
matrix = [
    [1, 2, 3],
    [4, 9, 6],
    [7, 8, 5]
]

max_element = matrix[0][0]

for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print("Maximum element:", max_element)

Maximum element: 9

In [40]:
# Question No 15 :
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2

new_list = []

for item in my_list:
    if item != element_to_remove:
        new_list.append(item)

print("List with", element_to_remove, "removed:", new_list)

List with 2 removed: [1, 3, 4, 5]

In [41]:
# Question No 16 :
for i in range(1, 6):
    for j in range(1, 11):
        product = i * j
        print(f"{i} x {j} = {product}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [42]:
# Question No 17 :
fahrenheit_temperatures = [32, 68, 86, 104]
celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)

print("Celsius Temperatures:", celsius_temperatures)

Celsius Temperatures: [0.0, 20.0, 30.0, 40.0]

In [43]:
# Question No 18 :
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for element in list1:
    if element in list2:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [44]:
# Question No 19 :
n = 5
for i in range(1, n + 1):
    print("*" * i)

*
**
***
****
*****

In [45]:
# Question No 20 :
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 36
num2 = 48
gcd = find_gcd(num1, num2)
print("GCD of", num1, "and", num2, "is", gcd)

GCD of 36 and 48 is 12

**Advanced** Level:
21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.
22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.
23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.
24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.
25. Write a program to flatten a nested list using list comprehension.
26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.
27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.
28. Write a program that combines two lists into a dictionary using list comprehension.
29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.
30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [46]:
# Question No 21 :
numbers = [123, 456, 789]

digit_sums = [sum(int(digit) for digit in str(num)) for num in numbers]

print(digit_sums)

[6, 15, 24]

In [47]:
# Question No 22 :
def prime_factors(n):
    factors = [i for i in range(2, n + 1) if n % i == 0]
    prime_factors = [f for f in factors if all(f % i != 0 for i in range(2, f))]
    return prime_factors

number = 36
print("Prime factors of", number, "are:", prime_factors(number))

Prime factors of 36 are: [2, 3]

In [48]:
# Question No 23 :
original_list = [1, 2, 2, 3, 4, 4, 5]

unique_elements = list(set(original_list))

print(unique_elements)

[1, 2, 3, 4, 5]

In [49]:
# Question No 24 :
limit = 1000

palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]

print(palindromic_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [50]:
# Question No 25 :
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

flattened_list = [item for sublist in nested_list for item in sublist]

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
# Question No 26 :
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

even_sum = sum(num for num in numbers if num % 2 == 0)
odd_sum = sum(num for num in numbers if num % 2 != 0)

print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 20
Sum of odd numbers: 25

In [52]:
# Question No 27 :
squares_of_odds = [x**2 for x in range(1, 11) if x % 2 != 0]

print(squares_of_odds)

[1, 9, 25, 49, 81]

In [53]:
# Question No 28 :
keys = ['a', 'b', 'c']
values = [1, 2, 3]

combined_dict = {k: v for k, v in zip(keys, values)}

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3}

In [54]:
# Question No 29 :
text = "Hello, World!"

vowels = [char for char in text if char.lower() in 'aeiou']

print(vowels)

['e', 'o', 'o']

In [55]:
# Question No 30 :
string_list = ["abc123", "456def", "789ghi"]

numeric_strings = [''.join(filter(str.isdigit, s)) for s in string_list]

print(numeric_strings)

['123', '456', '789']

**Challenge** Level:
31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.
32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.
33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.
34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.
35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.
36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.
37. Write a program that finds the longest word in a sentence using list comprehension.
38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.
39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.
40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [56]:
# Question No 31 :
def sieve_eratosthenes(n):
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False
    primes = [i for i in range(2, n + 1) if sieve[i]]

    for p in primes:
        for i in range(p * p, n + 1, p):
            sieve[i] = False

    return primes

n = int(input("Enter a number: "))
prime_numbers = sieve_eratosthenes(n)
print(prime_numbers)

Enter a number: 50
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [57]:
# Question No 32 :
limit = int(input("Enter a limit: "))
pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
print(pythagorean_triplets)

Enter a limit: 10
[(3, 4, 5)]

In [58]:
# Question No 33 :
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [59]:
# Question No 34 :
from statistics import mean, median, mode

numbers = [1, 2, 3, 4, 5, 6, 6, 7, 8]
mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)

print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Mode: {mode_value}")

Mean: 4.666666666666667
Median: 5
Mode: 6

In [60]:
# Question No 35 :
def generate_pascals_triangle(n):
    triangle = [[1] * (i + 1) for i in range(n)]
    for i in range(2, n):
        for j in range(1, i):
            triangle[i][j] = triangle[i-1][j-1] + triangle[i-1][j]
    return triangle

num_rows = int(input("Enter the number of rows: "))
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

Enter the number of rows: 6
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

In [61]:
# Question No 36 :
import math

factorial_sums = [sum(int(digit) for digit in str(math.factorial(n))) for n in range(1, 6)]
print(factorial_sums)

[1, 2, 6, 6, 3]

In [62]:
# Question No 37 :
sentence = "This is a sample sentence to find the longest word."
longest_word = max(sentence.split(), key=len)
print(longest_word)

sentence

In [63]:
# Question No 38 :
words = ["apple", "banana", "cherry", "elephant", "grape", "kiwi"]
vowel_count = lambda word: sum(1 for letter in word if letter in 'aeiouAEIOU')
filtered_words = [word for word in words if vowel_count(word) > 3]
print(filtered_words)

[]

In [64]:
# Question No 39 :
digit_sums = [sum(int(digit) for digit in str(n)) for n in range(1, 1001)]
print(digit_sums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [65]:
# Question No 40 :
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]

prime_palindromes = [num for num in range(1, 1000) if is_prime(num) and is_palindrome(num)]
print(prime_palindromes)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]